.order-form-area {
    .page-title-area {
        height: 105px;
        background-image: linear-gradient(264deg, #3accff, #2cec88);

        .title {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center; // content 아니고 items 인 것 주의
            width: 100%;
            height: 56px;
            background-image: linear-gradient(264deg, #3accff, #2cec88);
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            z-index: 1; // 제목 부분이 위에 올 수 있게 z-index 부여
        }

        .btn-close {
            position: fixed;
            top: 0;
            right: 0;
            // 버튼 클릭하기 쉽게 영역 설정
            width: 56px;
            height: 56px;
            z-index: 1; // 버튼도 동일한 z-index 부여
            .ico-close {
                width: 18px;
            }
        }
    }

    // 주문하기 버튼 영역
    .btn-order-area {
        margin-top: 20px;
        @include common-inner; // mixin정의 해둔 것을 include 하는 방식

        .btn-order {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px $m-padding 0;
            width: calc(100% - #{$m-padding}*2); // margin으로 준 것을 빼고, 꽉 차게 넣고 싶을 때 활용
            height: 50px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 700;
            background-color: $green;
            color: #fff;
            .ico-n-logo {
                margin-right: 6px;
            }
        }
    }

    // 위로 버튼
    .go-to-top {
        padding: 26px 0;
        background: none;
    }

}