$txt_color: rgb(255, 255, 255);
$bg_color: rgb(0, 67, 105);
$divbox_width: 600px;
$divbox_height: 300px;
$divbox_color: rgb(13, 0, 83);

body{
    color: $txt_color;
    background-color: $bg_color;
}

.div_box{
    box-sizing: border-box;
    padding: 70px;
    border: 2px dotted #fff;
    top: 30px;
    left: 50px;
    width: $divbox_width;
    height: $divbox_height;
    background-color: $divbox_color;
    ul{
        background-color: rgb(41, 0, 75);
        li.li_none{
            margin-top: 10px;
            list-style: none;
            &::before , &::after{
                content: "★";
            }
        }
    }

}