// 주문 페이지에서 공통적으로 적용할 스타일들을 기술

.container {
    // padding-top: 100px;
    padding-top: $place-header-height + $place-tab-height; // 유지보수성 up
    background-color: $booking-color-border151; // 배경색 옅은 회색
}

.common-inner {
    margin: 0 auto;
    // 본문 영역에서 활용할 부분
    // 지정값까지만 늘어나고 초과 시 가운데 정렬
    max-width: 720px;
}

// 인기메뉴 뱃지
.badge-popular {
    flex-shrink: 0;
    display: inline-block;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    background-color: #ff61a7;
    color: #fff;
}

// 대표메뉴 뱃지
.badge-typical {
    flex-shrink: 0;
    display: inline-block;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    background-color: #FFAF3B;
    color: #fff;
}

// 신규메뉴 뱃지
.badge-new {
    flex-shrink: 0;
    display: inline-block;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    background-color: #E95A4C;
    color: #fff;
}

